body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
    display: flex;
    background-image: url("../assets/img/maxresdefault.jpg");
    background-size:100% 100%;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
}
.cat {
  position: absolute;
  max-width:100%;
}
@media (min-width: 465px){
 .container{
    background-image: url("../assets/img/dawn.png");
  }
}
@media (max-width: 681px){
   #img-cat {
    max-width: 80%;
  }
}
@media (min-width: 850px){
  .container{
    background-image: url("../assets/img/Landscape.jpg");
  }
}
